{% extends "base.html" %}

{% block title %}Apply for tournament{% endblock %}

{% block content %}
<p class="lead">
    Предстоящий турнир: </br>
    {{ tournament }}
</p>
<p class="lead">
    {{ tournament.description | safe }}
</p>
{% if is_registered %}
    <p class="lead">
    Вы зарегистрированы
    </p>
{% else %}
    <form action="{% url 'me_register' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Хочу участвовать!" class="btn btn-secondary">
    </form>
{% endif %}
{% endblock %}
