{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
{% if games %}
<h3 class="cover-heading">Расписание игр:</h3>
<p>
<table class="table table-dark">
    <tbody>
    {% for g in games %}
        <tr>
            <th scope="row">{{ g.game_date }}</th>
            <td>{{ g.start_time|time:'H:i' }}</td>
            <td>{{ g.get_p1 }}</td>
            <td>
                <table style="width: 100%; height: 40px; align:justify;"><tr>
                {% for r in g.setresult_set.all %}
                    <td style="width: 20%; border: 0px">
                        {{ r.result1 }}
                    </td>
                {% endfor %}
                </tr></table>
            </td>
        </tr>
        <tr>
            <th scope="row" style="border: 0px"></th>
            <td style="border: 0px"></td>
            <td style="border: 0px">{{ g.get_p2 }}</td>
            <td style="border: 0px">
                <table style="width: 100%; height: 40px; align:justify;"><tr>
                {% for r in g.setresult_set.all %}
                    <td style="width: 20%; border: 0px">
                        {{ r.result2 }}
                    </td>
                {% endfor %}
                </tr></table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>
{% else %}
<h3 class="cover-heading">Вскоре здесь появится расписание игр</h3>
{% endif %}
{% endblock %}
