{% extends "base.html" %}
{% load static %}

{% block title %}Ping-Pong AT{% endblock %}

{% block content %}
<h2 class="cover-heading">
    {{ msg }}
</h2>
{% if tournament_status == 0 %}
    <p class="lead">
        Даты проведения: {{ tournament }} <br>
        Окончание регистрации: {{ tournament.reg_end | date:"H:i, d F Y" }}
    </p>
    <p class="lead">
        Подать заявку можно через <a class="badge badge-light" href="/accounts/me/register/">личный кабинет</a>
    </p>
{% endif %}
{% if tournament_status == 1 %}
    <p class="lead">
        Даты проведения: {{ tournament }} <br>
        Жеребьёвка: {{ tournament.draw_time | date:"H:i, d F Y" }} в теннисной
    </p>
    <p class="lead">
        {{ tournament.description | safe }}
    </p>
{% endif %}
{% if tournament_status == 2 %}
    <p class="lead">
        {{ tournament.description | safe }}
    </p>
{% endif %}
{% if tournament_status == 4 %}
    <p class="lead">
        Победители:
    </p>
    <p>
    <img src="{% static "images/1.jpg"%}" width="640" height="480" />
    </p>
    <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bmJd7rRTfIE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Tq9iDi8yvt0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
{% endif %}
{% endblock %}
