{% extends "base.html" %}

{% block title %}Ping-Pong AT{% endblock %}

{% block content %}
<h2 class="cover-heading">
    {{ msg }}
</h2>
{% if tournament_status == 0 %}
    <p class="lead">
        Даты проведения: {{ tournament }} <br>
        Окончание регистрации: {{ tournament.reg_end | date:"H:i, d F Y" }}
    </p>
    <p class="lead">
        Подать заявку можно через <a class="badge badge-light" href="/accounts/me/register/">личный кабинет</a>
    </p>
{% endif %}
{% if tournament_status == 1 %}
    <p class="lead">
        Даты проведения: {{ tournament }} <br>
        Жеребьёвка: {{ tournament.draw_time | date:"H:i, d F Y" }} в теннисной
    </p>
    <p class="lead">
        {{ tournament.description | safe }}
    </p>
{% endif %}
{% if tournament_status == 2 %}
    <p class="lead">
        {{ tournament.description | safe }}
    </p>
{% endif %}
{% if tournament_status == 4 %}
    <p class="lead">
        Победители:
    </p>
    <img src="static/images/1.jpg" width="1280" height="960" />
{% endif %}
{% endblock %}
